.div1{
    font-family: sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: orange;
    text-align: center;
    height: 75%;
    padding: 10%;
    animation: blinkingText 1s infinite;
}
@keyframes blinkingText{
    0%{		color: orange;	}
    49%{	color: green;	}
    50%{	color: orange;	}
    99%{	color: green;	}
    100%{	color: orange;	}
}